h1{
    font-size: 2rem;
    padding-left: 100px;
   color:rgb(11 99 167);
}
button{
    width: 70px;
    height: 70px;
    background-color:#B9D9EB;
    font-size: x-large;
    margin: 1px;
    border-radius: 25px;
}
button:active{
    background-color: #d5d8e2;
    font-weight: bolder;
}
button:hover{
    background-color: #e3f0fa;
}
.border{
    border: solid 2px #7cb9e8;   
    padding: 26px;
    width: fit-content;
    border-radius: 25px;
}
input{
    width: 291px;
    height: 60px;
    font-size: x-large;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 2px #7cb9e8;
    background-color: #7ab8e736;
}
.operation {
    background-color:#7CB9E8;
}
.operatorSum{
    background-color:#72A0C1;
}
.clear{
    background-color:#0dcfcf;
}